/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 320px) and (max-width: 575px){
    .header_address span.address,
    .header_address span.email {
        font-size: 20px;
        border-right: 0;
        line-height: 1.6;
    }
    
    .banner_part{
        background: #fff;
        width: 100%;
        height: 100%;
    }
    .banner_content h1 {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 30px;
        padding: 0 10px;
    }
    .banner_content p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .banner_content a {
        margin-left: 10px;
    }
    .banner_content {
        top: 20%;
    }
    .banner_item img{
        height: 320px;
    }
    .banner_slider .owl-nav{
        display: none;
    }
    .baner_ser_cont h3 {
        font-size: 25px;
    }
    .banner_service {
        padding: 60px 0px;
    }
    .experience_part {
        padding: 60px 0px;
    }
    .experience_img .shape {
        right: 40px;
        width: 250px;
        height: 170px;
    }
    .experience_cont h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 24px;
    }
    .experience_cont h2::before {
        top: 67px;
        height: 10px;
    }
    .experience_cont h2::after {
        top: 70px;
        height: 3px;
    }
    .experience_cont h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .experience_cont p {
        font-size: 16px;
        line-height: 1.4em;
        text-align: justify;
    }
    .service_overlay {
        padding: 50px 0px;
    }
    .team_overlay {
        padding: 50px 0px 50px;
    }
    .team_head h3 {
        font-size: 30px;
        line-height: 32px;
    }
    .team_prof {
        margin-top: 10px;
    }
    .skill_row {
        margin-top: 30px;
    }
    .skill_conten h3 {
        font-size: 30px;
        line-height: 34px;
    }
    .skill_conten p {
        text-align: justify;
    }
    .cont_overlay h4 {
        font-size: 23px;
    }
    .contact_botom {
        padding: 30px;
        width: 50%;
    }
    .tm_profile {
        padding-bottom: 60px;
    }
    .reg_overlay {
        padding: 20px 0;
    }
    .reg_img_vdo {
        margin-top: 0px;
    }
    .reg_form {
    padding: 20px 15px;
    margin-top: 0px;
    margin-left: 0px;
    }
    .reg_head h4 {
        font-size: 20px;
    }
    .reg_head p {
        text-align: justify;
    }
    .reg_form form select, .reg_form form button, .reg_form form input {
        height: 40px;
        margin-bottom: 10px;
    }
    .ani_img{
        display: none;
    }
    .consulting_sec {
        padding: 35px 0px;
    }
    .service_title .title_icon {
        font-size: 120px;
    }
    .service_cont h3 {
        font-size: 30px;
        line-height: 24px;
    }
    .checkout_overlay {
        padding: 50px 0px;
    }
    .checkout_head h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .checkout_btn {
        display: flex;
        justify-content: center;
    }
    .check_cont h4 a {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .check_botom_box span{
        font-size: 14px;
    }
    .review_head h5 {
        font-size: 80px;
        margin-top: -25px;
    }
    .review_head h3 {
        font-size: 30px;
        line-height: 34px;
    }
    .test_item {
        margin-left: 20px;
    }
    .quotet {
        top: 20px;
        right: 20px;
    }
    .quotet i {
        font-size: 40px;
    }
    .test_item p {
        font-size: 14px;
    }
    .testimonial_slider.owl-carousel .owl-nav{
        display: none;
    }
    .ft_link{
        text-align: center !important;
    } 
    .ft_bottom_copyright p {
        font-size: 16px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){
    .header_address .address,
    .header_address .email {
        font-size: 18px;
    }
    .s_icon {
        display: flex;
        justify-content: center !important;
    }

    .banner_content {
        top: 20%;
    }
    .banner_content h1 {
        margin-bottom: 20px;
        font-size: 45px;
        line-height: 50px;
    }
    .banner_content p {
        font-size: 18px;
        line-height: 30px;
    }
    .banner_item img{
        height: 576px;
    }
    .banner_slider .owl-nav{
        display: none;
    }
    .banner_service {
        padding: 40px 0px;
    }
    .service_para p {
        margin-bottom: 20px;
    }
    .team_prof {
        margin-top: 20px;
    }
    .tm_profile {
        padding-bottom: 70px;
    }
    .reg_form {
        margin-top: 0;
        margin-left: 0;
    }
    .ani_img{
        display: none;
    }
    .consulting_sec {
        padding: 30px 0px;
    }
    .consulting_slider {
        margin-left: 0px;
    }
    .checkout_head h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .review_head h5 {
        font-size: 140px;
        margin-top: -50px;
    }
    .review_head h3 {
        font-size: 30px;
        line-height: 36px;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .header_address .address,
    .header_address .email {
        font-size: 14px;
        line-height: 3.6;
    }
    .s_icon ul li a{
        font-size: 16px;
    }
    .c_btn .btn{
        padding: 10px 25px;
        font-size: 12px;
    }
    .banner_slider .owl-nav{
        display: none;
    }
    .banner_service {
        padding: 45px 0px;
    }
    .baner_ser_cont h3 {
        font-size: 18px;
    }
    .baner_ser_cont p {
        margin-bottom: 30px;
        line-height: 1.4;
    }
    .experience_part {
        padding: 50px 0px;
    }
    .experience_img .shape {
        top: 37px;
        right: 56px;
        height: 200px;
    }
    .experience_cont h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .experience_cont h2::before {
        top: 75px;
        height: 10px;
    }
    .experience_cont h2::after {
        top: 77px;
    }
    .experience_cont p {
        font-size: 14px;
        line-height: 1.4em;
        margin-bottom: 20px;
        margin-top: -20px;
    }
    .experience_cont h5 {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 30px;
    }
    .experience_cont img {
        margin-bottom: 20px;
        width: 90px;
    }
    .experience_cont a {
        padding: 10px 25px;
        font-size: 12px;
    }
    .counter_part{
        padding: 10px;
    }
    .counter_part h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .counter_part h6 {
        font-size: 10px;
    }
    .counter_icon {
        top: 30px;
        right: 10px;
    }
    .counter_icon i {
        font-size: 30px;
    }
    .service_overlay {
        padding: 60px 0px;
    }
    .ser_item {
        padding: 10px !important;
    }
    .ser_item span i {
        font-size: 50px;
    }
    .ser_item h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .ser_item p {
        font-size: 14px;
        line-height: 1.4;
    }
    .team_overlay {
        padding: 60px 0px 60px;
    }
    .tm_profile {
        padding-bottom: 60px;
    }
    .team_prof {
        margin-top: 30px;
    }
    .skill_conten h3 {        
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .skill_conten p {
        font-size: 14px;
        line-height: 1.4;
    }
    .skill_bar_part{
        margin-top: 10px !important;
    }
    .skill_item{
        margin-top: 20px !important;
    }
    .inner_bar {
        height: 10px;
    }
    .bar {
        height: 10px;
    }
    .reg_overlay {
        padding: 60px 0;
    }
    .reg_img_vdo {
        margin-top: 0;
    }
    .reg_form {
        padding: 55px 10px 60px;
        margin-top: 0;
        margin-left: 0;
    }
    .reg_head {
        margin-bottom: 10px !important;
    }
    .reg_form form select, .reg_form form button, .reg_form form input {
        height: 30px;
        margin-bottom: 10px;
        padding: 0 7px 0 10px;
    }
    .service_cont h3 {
        font-size: 33px;
        line-height: 34px;
    }
    .service_para p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.4em;
    }
    .ani_img{
        display: none;
    }
    .consulting_sec {
        padding: 60px 0px;
    
    }
    .checkout_head h3 {
        font-size: 34px;
        line-height: 42px;
    }
    .review_part {
        padding: 60px 0px;
    }
    .review_head h5 {
        margin-top: 0px;
    }
    .review_head h6 {
        margin-top: 100px;
    }
    .review_head h3 {
        font-size: 33px;
        line-height: 32px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){
    .baner_ser_cont h3 {
        font-size: 25px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}